body                        {background-color: lightgoldenrodyellow;}

#tabs                       {border: 1px solid steelblue;background-color: bisque;}

#tabs #tabs-1               {color:black;}   

#accordion                  {color:azure;}  

